@charset "utf-8";
/* CSS Document */

	#paginador {
		font-size:10px;
		font-family:"Trebuchet MS";
		color:#0000000;
		width:100%;
		float:none;
		clear:both;
	}

	#paginador #pg {
		background-image:url(../images/pagename_1.gif);
		width:100px;
		height:15px;
		padding-top:5px;
		text-align:center;
		float:left;
	}

	#paginador a {
		color:#000000;
		text-decoration:none;
	}

	#paginador a:hover {
		color:#FF0000;
	}