﻿.hidden
{
display: none;
}

#prevNext
{
margin-bottom: -40px;
float:right;
position:relative;
margin-left:10px;
}

#prevNext img
{
position: relative;
z-index: 2;
cursor: pointer;
}

#wrap p
{
margin: 0;
padding: 5px;
font-size: 14px;
position: relative;
top: -60px;
height: 50px;
background: black;
opacity: .8;
filter:alpha(opacity=70);
width:282px;
}
#wrap p a {
	opacity: 1;
	color:#FFF;
	text-decoration:none;
}
#wrap p a strong {
	color:#FFF;
}