	body {
		margin: 0px;
	}

	#corpo {
		width: 1016px;
		height: 430px;
		background-image:url(../images/1024/galeriadeimagens.jpg);
		padding-top: 9px;
	}
	img { border: none; }
	#topo { width:750px; height:20px;}
	#paginador {
		font-size:10px;
		font-family:"Trebuchet MS";
		color:#0000000;
	}
	#paginador #pg {
		background-image:url(../images/icones/pagename_1.gif);
		width:100px;
		height:15px;
		padding-top:4px;
		text-align:center;
		float:left;
	}
	#paginador a {
		color:#000000;
	}
	#paginador a:hover {
		color:#FF0000;
	}
	
	
	
	#divthumb {
		border: #FFFFFF 1px solid;
		background-color:#CCCCCC;
		width: 100px;
		height:120px;
		float: left;
		text-align:center;
		display:table;
	}
	#spacer1 {
		width: 10px;
		height:140px;	
		float:left;
	}