/* CSS Document */

a:visited, a:link, a:hover {
  text-decoration: none;
}

img, div, input { behavior: url("iepngfix.htc"); border: none;}

#principal{

width: 1000px;
margin: 0 auto;
}

#pai{ 
position:absolute;
text-align:center;
width:100%;
}

body {
background:url(../imagens/bg_grande.jpg) top center no-repeat;
background-color:#E7E7E9;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}

#topo{
width:1000px;
height:41px;
float:left;
text-align:center;
}

#animacao{
background:url(../imagens/bg_topo.jpg) top center;
width:1000px;
height:134px;
float:left;
text-align:center;
}

#lateral_esquerda {
width:214px;
float:left;
text-align:center;
}

#conteudo_index {
width:479px;
float:left;
text-align:center;
}

#lateral_direita {
width:307px;
float: right;
}

#rodape {
background:url(../imagens/bg_rodape.jpg) top center repeat-x;
clear:both;
width: 100%;
height:86px;
text-align:center;
float:none;
}

/*rodape*/
.rodape {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: normal; font-size:9pt; color:#96B3B5;}

/*texto enquete*/
.texto_enquete {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: normal; font-size:10pt; color:#02595F;}

/*texto noticia dentro*/
.texto_noticia_dentro {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: normal; text-align:justify; line-height:14pt; font-size:10pt; color:#57585E;}

/*campo busca*/
.campo_busca { background:url(../imagens/bg_campo_busca.jpg) top center; height:20px; border: solid 1px #02595F;font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: normal; font-size:10pt; color:#02595F;}

/*menu*/
.menu a:link {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:9pt; color:#00444A;}
.menu a:visited {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:9pt; color:#00444A;}
.menu a:hover {text-decoration: underline; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:9pt; color:#00444A;}

/*menu_princ*/
.menu_princ a:link {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:bold; font-size:9pt; color:#00444A;}
.menu_princ a:visited {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:bold; font-size:9pt; color:#00444A;}
.menu_princ a:hover {text-decoration: underline; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:bold; font-size:9pt; color:#00444A;}

/*menu_princ sem link*/
.menu_princ_semlink {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:bold; font-size:9pt; color:#00444A;}

/*menu*/
.menu_topo a:link {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:bold; font-size:10pt; color:#02595F;}
.menu_topo a:visited {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:bold; font-size:10pt; color:#02595F;}
.menu_topo a:hover {text-decoration: underline; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:bold; font-size:10pt; color:#02595F;}

/*linha*/
.linha_menu {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: bold; font-size:11pt; color:#A6A7AA;}


/*titulo noticia*/
.titulo_noticia_princ {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: bold; font-size:11pt; color:#02595F;}

/*titulo noticia dentro*/
.titulo_noticia_dentro {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: bold; font-size:13pt; color:#02595F;}


/*texto_noticia*/
.texto_noticia a:link {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; text-align:justify; font-size:9pt; color:#02595F;}
.texto_noticia a:visited {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal;  text-align:justify; font-size:9pt; color:#02595F;}
.texto_noticia a:hover {text-decoration: underline; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal;  text-align:justify; font-size:9pt; color:#02595F;}


/*borda imagem*/
.borda_imagem { border: solid 2px #FFFFFF;}

/*titulo informe*/
.titulo_informe {font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight: bold; font-size:11pt; color:#00444A;}


/*texto_informe*/
.texto_informe a:link{text-decoration: none; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight:normal;text-align:justify; font-size:9pt; color:#00444A;}
.texto_informe a:visited{text-decoration: none; font-family: Arial, Verdana,Helvetica, sans-serif; font-weight:normal;text-align:justify; font-size:9pt;color:#00444A;}
.texto_informe a:hover{text-decoration:underline;font-family:Arial, Verdana, Helvetica, sans-serif;font-weight:normal;text-align:justify;font-size:9pt;color:#00444A;}


/*texto_resultado*/
.texto_resultado a:link{text-decoration: none; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight:bold;text-align:center; font-size:10pt; color:#00444A;}
.texto_resultado a:visited{text-decoration: none; font-family: Arial, Verdana,Helvetica, sans-serif; font-weight:bold;text-align:center; font-size:10pt;color:#00444A;}
.texto_resultado a:hover{text-decoration:underline;font-family:Arial, Verdana, Helvetica, sans-serif;font-weight:bold;text-align:center;font-size:10pt;color:#00444A;}

/*texto_novidade*/
.texto_novidade a:link {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; text-align:justify; font-size:9pt; color:#57585E;}
.texto_novidade a:visited {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal;  text-align:justify; font-size:9pt; color:#57585E;}
.texto_novidade a:hover {text-decoration: underline; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal;  text-align:justify; font-size:9pt; color:#57585E;}


#middlearea {
	font-size:12px;
	color:#333;
	font-weight:normal;	
}

a.busca:link {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:14pt; color:#00444A;}
a.busca:visited {text-decoration: none; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:14pt; color:#00444A;}
a.busca:hover {text-decoration: underline; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:14pt; color:#00444A;}

td#campo_busca{font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:14pt; color:#00444A;}
td#campo_busca input{border: solid 1px #00444A;}

span.result{
    text-align: center; font-family: Arial, Verdana,  Helvetica, sans-serif; font-weight:normal; font-size:9pt; color:#00444A;
}

td#fundo_lista{
    background:url(../imagens/bg_noticia_lista_index.png) top center no-repeat;
}