div#galeria{
                margin: 0;
                padding: 0;
                width: 400px;
                position: relative;
                left: 50%;
                margin-left: -200px;
            }
            div#mini ul{
                margin: 0;
                padding: 0;
                list-style: upper-roman;
            }
            div#mini ul img{
                cursor: pointer;
                width: 90px;
                height: 65px;
            }
            div#mini ul li{
                margin: 0;
                padding: 0;
                display: inline;
            }
            div#destaque{
                margin: 0;
                padding: 0;
                width: 400px;
                height: 250px;
            }
            div#destaque img{
                width: 400px;
                height: 250px;
            }
            div#mini p{
               margin: 0;
               padding: 5px;
               float: left;
            }
          
