a:visited {
  text-decoration: none;
}

.data {
	text-align:right;	
}
#areacabecalho {
	padding-bottom:10px;
	margin-bottom:30px;	
	border-bottom:1px solid #CCC;
	text-align:left;
}
#subtitulo{   
    margin-bottom: 10px;
	text-align:left;
    color:#666;
}
.areapost {
	float:none;
	clear:both;
	margin-bottom: 20px;
	border-bottom:1px solid #CCC;
	min-height: 330px;
	text-align:justify;
	font-size:13px;
}
#middlearea {
	width: 450px;
	margin-bottom: 20px;
}

#rightarea {
	width:270px;
	float:right;
	margin-top:40px;
}
#areatwitter {
	width:270px;	
}
#areatwitter a {
	color:#666;	
}

.areapost p {
	margin-bottom:15px;	
}
.areapost h1 a {
	font-size: 24px;	
}
.areapost h1, h2, h3 {
	margin:0px;
	padding:0px;	
}
.areapost h3 {
	color:#666;
}
.areapost .image {	
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 09px;
	color:#666;
	float:left;
	width: 166px;
}
.areapost .textonoticia {
	font-size:10pt;
	font-weight:normal;
	color: #6B6B6B;
}
.areapost .textonoticia b{
	color: #02595F;
}

.postbottomobj {
	float:none;
	clear:both;
}
.postbottomobj a {
	color:#333;
	font-weight:bold;
	text-decoration:none;
}

#areacomentarios .textarea {
	border:1px solid #999;
	padding: 3px;
	width:300px;
}
#areacomentarios .btn {
	border:1px solid #999;
	padding: 3px;	
}

#areacomentarios .comment {
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dotted #CCC;
	color:#666;
	font-size:14px;
	font-weight:normal;
}


/* Portal Notícias */


#areanoticiasleft {
	float:left;	
	width:400px;
	
}
#areanoticiasright {
	float:right;	
	width:280px;
	
}
#areanoticias .object {
	margin-bottom: 20px;	
	text-align:justify;	
	
}
#areanoticias .object img:hover {
	border:2px solid #900;
	margin-left:-2px;
	margin-right:-2px;
	margin-top:-2px;
	margin-bottom:-2px;	
}
#areanoticias .object div {
	position:relative;
	bottom:40px;
	background-color:#E2E2E2; opacity: 0.3;
	display:block;
	width:390px;
	padding:5px;
	margin-bottom: -30px;
	font-weight:bold;
	opacity: 0.8;
}
#areanoticias .object span {
	width:400px;
}
#areanoticias .object span a {
	font-weight:normal;	
	
}

