/* 
	CSS Reset 
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .search_box p
{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

body 
{
	line-height:1.5;
}
blockquote:before, blockquote:after, q:before, q:after 
{
	content:"";
}
blockquote, q 
{
	quotes:"" "";
}
a img 
{
	border:none;
}

.sticky, .bypostauthor
{
	font-weight: bold;
}

p {
	padding-top:0.4em;
	padding-bottom:0.4em;
}

p:empty {
	display: none;
}


/*
	Global Layout
*/

body
{
	background: #fff;
	font-size: 13px;
	font-family: Arial,Tahoma,Verdana,sans-serif;
	padding: 0;
	margin: 0;
	color: #777;
	overflow-x: hidden;
}

span.custom_font
{
	font-family: 'Oswald', "PT Sans", Arial, Helvetica, sans-serif;
}

a, #top_bar a
{
	color: #333;
	text-decoration: none;
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
}

a.colorful, .ppb_desc a
{
	color: #9aca42;
}

a.colorful:hover, a.colorful:active, .ppb_desc a:hover, .ppb_desc a:active
{
	text-decoration: underline;
}

a:hover, .post_header h3 a:hover
{
	color: #9aca42;
	text-decoration: none;
}

a:active
{
	color: #333;
	text-decoration: none;
}

.sidebar_wrapper a
{
	color: #999;
}

.sidebar_wrapper a:hover, .sidebar_wrapper a:active
{
	color: #9aca42;
}

.sidebar_wrapper ul.twitter a, #footer .sidebar_widget li ul.twitter a
{
	color: #9aca42;
}

.sidebar_wrapper ul.twitter a:hover, .sidebar_wrapper ul.twitter a:active, #footer .sidebar_widget li ul.twitter a:hover, #footer .sidebar_widget li ul.twitter a:active
{
	text-decoration: underline;
}

::selection {
	background: #222;
	color: white;
	text-shadow: none;
}

img.alignright, div.alignright {float:right; margin:0.4em 0 1em 1.5em}
img.alignleft, div.alignleft {float:left; margin:0.4em 1.5em 1em 0}
img.aligncenter, div.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0.4em 0 .5em 1em}
a img.alignleft {float:left; margin:0.4em 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

hr {
	border-left: none;
	margin: 0;
	border: 0;
	background: transparent;
	display: block;
	border-bottom: 1px solid #E5E5E5;
	clear:both;
	height: 20px;
}

hr.space
{
	margin-bottom: 15px;
}

div.divider
{
	width: 100%;
	height: 30px;
	clear: both;
}

div.divider.one_fourth
{
	width: 25%;
}

div.divider.one_third
{
	width: 33%;
}

div.divider.one_half
{
	width: 50%;
}

div.divider.two_third
{
	width: 66%;
}

#wrapper
{
	width: 100%;
	margin: auto;
	border-top: 5px solid #9aca42;
}

#footer 
{
	width: 100%;
	background: #2C2F32;
	border: 0;
	margin: auto;
	margin-top: 20px;
	padding: 30px 0 20px 0;
	color: #999;
	border-top: 10px solid #ebebeb;
}

#footer a, #copyright a
{
	color: #fff;
}

#footer ul.sidebar_widget
{
	width: 960px;
}

#copyright
{
	width: 100%;
	margin: auto;
	padding: 0;
	clear:both;
	font-size: 12px;
	letter-spacing: 0;
	background: #1f2224;
	border-top: 1px solid #444;
	color: #ccc;
}

.copyright_wrapper
{
	width:960px;
	margin:auto;
}

.copyright_wrapper .left_wrapper
{
	float:left;
	width:540px;
	margin:25px 0 15px 0;
}

.copyright_wrapper .right_wrapper
{
	float:right;
	width:300px;
	text-align:right;
	margin: 10px 0 15px 0;
}

pre, code, tt {font:12px 'andale mono', 'lucida console', monospace;line-height:1.5;display: block;word-wrap: break-word; color: #888; 
	overflow:auto; padding: 20px;
line-height: 19px; background: transparent url("../images/pre_bg.png") repeat; 
}

/*
	Input layout
*/

input[type=text], input[type=password], textarea
{
	padding: 10px 10px 8px;
	margin: 0 5px 0 0;
	border: none;
	width: 67%;
	color: #666;
	line-height: 1;
	text-align: left;
	float: left;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	border: 1px solid #E5E5E5;
	font-family: Arial,Tahoma,Verdana,sans-serif;
}

#footer input[type=text], #footer input[type=password], #footer textarea
{
	box-shadow: none;
}

input[type=text].blur, textarea.blur
{
	color: #999;
}

#footer input[type=text], #footer textarea
{
	background: #333;
	border: 1px solid #444;
	font-size: 11px;
}

#footer input[type=text].blur, #footer textarea.blur
{
	color: #666;
}

label
{
	font-weight:bold;
	font-size: 12px;
}

#contact_form
{
	margin-top: 20px;
}

#contact_form label, #commentform label
{
	margin-left: 10px;
	font-weight: bold;
}

#contact_form label
{
	margin-left: 10px;
	font-weight: bold;
	float: left;
	margin-top: 6px;
}

#commentform > p
{
	clear: both;
}

#contact_form label.error, #commentform label.error
{
	color: #AC1C20;
	float: left;
	margin-top: 6px;
	margin-bottom: 0;
	display: none !important;
	visibility: hidden;
	width: 0px;
}

#contact_form input, #contact_form textarea, #commentform input, #commentform textarea
{
	float: left;
	margin-bottom: 15px;
}

#contact_form.style1 input
{
	margin-right: 10px;
}

.contact_style1_info
{
	margin: 0 0 30px 0;
	color: #999;
	font-size: 16px;
	text-align: center;
}

input[type=submit], input[type=button], a.button
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	padding: .5em 1em .6em 1em;
	color: #fff;
	font-weight: 500;
	border: solid 1px #9ACA42;
	background: #9ACA42;
	margin-right: 5px;
	font-family: 'Oswald', "PT Sans", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#footer input[type=submit], #footer input[type=button]
{
	font-size: 11px;
}

a.comment-reply-link
{
	margin-top: 3px;
	float:right;
	font-size: 11px;
	margin-left: 10px;
}

a.comment-reply-link:hover, a.comment-reply-link:active
{
	text-decoration: underline;
}

a.button
{
	padding-top:8px;
}

input[type=submit]:hover, input[type=button]:hover, a.button:hover
{	
	
}

input[type=submit].medium, input[type=button].medium, a.button.medium
{
	font: 14px/100% 'Helvetica Neue', Helvetica 'Lucida Grande',Verdana,sans-serif;
}

input[type=submit].large, input[type=button].large, a.button.large
{
	font: 16px/100% 'Helvetica Neue', Helvetica 'Lucida Grande',Verdana,sans-serif;
}

input[type=submit]:active, input[type=button]:active, a.button:active
{
	position: relative;
	top: 1px;
	left: 1px;
}

.slider_desc a.button.large
{
	float: right;
	margin-top: -25px;
	margin-right: 60px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.6);
	box-shadow: 0 1px 3px rgba(0,0,0,.6);
}

input[type=submit].left, input[type=button].left, a.button.left
{
	float: left;
}

input[type=submit].right, input[type=button].right, a.button.right
{
	float: right;
}

input[type=submit].center, input[type=button].center, a.button.center
{
	margin: auto;
}

#cancel-comment-reply-link
{
	font-size: 14px;
	color: #F16F07;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Oswald', "PT Sans", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #111;
	text-transform: uppercase;
}

h1
{
	font-size: 28px;
}

h2
{
	font-size: 24px;
}

h3
{
	font-size: 22px;
}

h4
{
	font-size: 20px;
}

h5
{
	font-size: 16px;
	letter-spacing: 0;
}

h6
{
	font-size: 14px;
	letter-spacing: 0;
}

.ls-layer h1
{
	font-size: 36px;
}

.ls-layer h2
{
	font-size: 32px;
}

.ls-layer h3
{
	font-size: 28px;
}

.ls-layer h4
{
	font-size: 26px;
}

.ls-layer h5
{
	font-size: 22px;
}

.ls-layer h6
{
	font-size: 18px;
}

h3#reply-title
{
	font-size: 16px;
	letter-spacing: 0;
}

.margintop10
{
	margin-top: 10px;
}

.clear
{
	clear: both;
}

img.mid_align
{ 
	vertical-align: middle;
	margin-right: 5px;
	border: 0;
}

img.frame
{

}

.frame_left
{
	padding: 8px;
 	float: left;
 	margin: 0 20px 10px 0;
 	text-align: center;
 	border: 1px solid #ccc;
 	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.frame_left .caption, .frame_right .caption, .frame_center .caption
{
	margin: 7px 0 2px 0;
	display: block;
	font-weight: bold;
}

.frame_right
{
	padding: 8px;
 	float: right;
 	margin: 0 0 10px 20px;
 	text-align: center;
 	border: 1px solid #ccc;
 	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.frame_center
{
	padding: 8px;
 	margin: auto;
 	margin-top: 20px;
	margin-bottom: 20px;
 	text-align: center;
 	clear: both;
 	display: table;
 	border: 1px solid #ccc;
 	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.dropcap1
{
	display: block;
	float: left;
	margin: 0 8px 0 0;
	font-size: 24px;
	line-height: 40px;
	background: #2C2F32;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
}

blockquote
{
	width: 90%;
	min-height: 50px;
	margin: 10px 0 10px 20px;
	border-left: 2px solid #DDD;
	font-size: 16px;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: oblique;
	color: #999;
	padding: 20px;
}

blockquote h2
{
	font-weight: normal;
	font-size: 22px;
	font-style: italic;
	font-family: Georgia, Times, serif;
	text-transform: none;
}

blockquote h3
{
	font-weight: normal;
	font-size: 20px;
}

#respond
{
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
}

.comment_wrapper #respond
{
	margin: -10px 0 20px 5px;
	padding: 0 10px 0 20px;
	width: 95%;
}

.comment_wrapper ul.children #respond
{
	margin: 5px 0 5px 5px;
	padding: 0 0 0 20px;
	width: 87%;
}

.space
{
	margin-bottom: 10px;
}

#copyright .social_wrapper
{
	position: static;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

#footer .social_wrapper ul li img
{
	height: auto;
}

.social_wrapper
{
	float: right;
	list-style: none;
	margin-top: 0;
}

.social_wrapper li
{
	float: right;
	margin-left: 5px;
}

.social_wrapper li img
{
	height: 24px;
	opacity:0.5;
	filter:alpha(opacity=50);
}

#content_wrapper ul.social_wrapper.team
{
	float: left;
	margin-left: 0;
}

.social_wrapper.team li
{
	margin: 0 5px 0 0;
}

.social_wrapper.team li img
{
	opacity: 0.5;
	filter: alpha(opacity=50)
}

.member_item
{
	margin-bottom: 40px;
	margin-top: 10px;
}

#top_bar
{
	float: right;
	height: 50px;
	width: 70%;
	font-size: 14px;
	color: #999;
}

.top_contact_info
{
	float: right;
	margin-top: 17px;
	font-family: 'Oswald', "PT Sans", Arial, Helvetica, sans-serif;
}

.top_contact_info ul
{
	list-style: none;
	float: right;
}

.top_contact_info ul li
{
	float: right;
	margin-left: 20px;
}

.top_social
{
	float: right;
	margin-top: 15px;
}

.button.top_contact_button
{
	float: right;
	margin-top: 7px;
	margin-left: 10px;
	margin-right: 0;
}

#header_wrapper
{
	width: 100%;
	float: left;
	background: #fff;
	border: 1px solid #E5E5E5;
}

body.admin-bar #header_wrapper
{
	top: 28px;
}

.header_bg
{
	background: #f9f9f9;
}

.logo
{
	float: left;
	margin: 15px 10px 20px 0;
}

.search_box input[type=text]
{
	background: transparent;
	border: 0;
	margin: 1px 5px 0 5px;
	width: 140px;
}

.search_box img
{
	position: relative;
	top: 3px;
	left: -7px;
}
#menu_wrapper
{
	padding: 0;
	width: 960px;
	margin: auto;
}

#menu_border_wrapper div.notice
{
	float: right;
	margin-top: 32px;
}

#menu_wrapper .nav ul, #menu_wrapper div .nav
{
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	font-family: 'Oswald', "PT Sans", Arial, Helvetica, sans-serif;
	float: right;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right: -18px;
}

#menu_wrapper .nav ul li, #menu_wrapper div .nav li
{
	display: block;
	float :left;
	margin: 0 0 0 0;
}

#menu_wrapper .nav ul li ul li, #menu_wrapper div .nav li ul li
{
	clear: both;
	width: 200px;
	padding: 0;
	margin: 0;
}

#menu_wrapper .nav ul li:last-child, #menu_wrapper div .nav li:last-child
{
	margin-right: 0;
}

#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a
{
	display: inline-block;
	padding: 0;
	margin: 0;
	color: #444;
	font-size: 14px;
	padding: 10px 18px 10px 18px;
}

#menu_wrapper .nav ul li:first-child a, #menu_wrapper div .nav li:first-child a
{

}

#menu_wrapper .nav ul li:last-child a, #menu_wrapper div .nav li:last-child a
{
	
}

#menu_wrapper .nav ul li a.hover, #menu_wrapper .nav ul li a:hover, #menu_wrapper div .nav li a.hover, #menu_wrapper div .nav li a:hover
{
	color: #9aca42;
}

#menu_wrapper div .nav li.current-menu-item > a, #menu_wrapper div .nav li.current-menu-parent > a, #menu_wrapper div .nav li.current-menu-ancestor > a
{
	color: #9aca42;
}

#menu_wrapper div .nav li ul li.current-menu-ancestor a
{
	color: #111;
}

#menu_wrapper .nav ul li ul, #menu_wrapper div .nav li ul
{
	display: none;
	list-style: none;
	background: #fff;
	position: absolute;
 	padding: 0;
 	width: 225px;
 	height: auto;
 	z-index: 1000; 
	text-transform: none;
	margin: 0 0 0 0;
	border: 1px solid #E5E5E5;
	border-top: 3px solid #9aca42;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	-moz-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
}

#menu_wrapper .nav ul li ul li ul, #menu_wrapper div .nav li ul li ul
{
	position: absolute;
	left: 215px;
	top: 0px;
	margin-top: 4px;
	display: none;
	z-index: 99999;
	opacity: 1;
	border-top: 1px solid #E5E5E5;
}

#menu_wrapper .nav ul li:hover ul, #menu_wrapper div .nav li:hover ul
{
	display: block;
}



#menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-item ul li a, #menu_wrapper div .nav li ul li.current-menu-item a,#menu_wrapper .nav ul li ul li a, #menu_wrapper .nav ul li.current-menu-item ul li a, #menu_wrapper .nav ul li ul li.current-menu-item a, #menu_wrapper div .nav li.current-menu-parent ul li a, #menu_wrapper div .nav li ul li.current-menu-parent a
{
	color: #777;
	display: block;
	background: transparent;
	height:auto;
	padding: 8px 10px 8px 10px;
}

#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a
{
	width: 185px;
	display: block;
	margin-left: 10px;
	border-bottom: 1px solid #ebebeb;
	border-top: 0;
	font-weight: normal;
	font-size: 13px;
	border-left: 0;
	border-right: 0;
}

#menu_wrapper .nav ul li ul li:last-child a, #menu_wrapper div .nav li ul li:last-child a
{
	border-bottom: 1px solid transparent;
}

#menu_wrapper .nav ul li ul li a:hover, #menu_wrapper .nav ul li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li.current-menu-item ul li a:hover, #menu_wrapper div .nav li.current-menu-parent ul li a:hover
{
	color: #111;
}

#content_wrapper ul
{
	margin-left: 20px;
}

#content_wrapper ul.slides
{
	margin-left: 0;
}

#content_wrapper ul.home_portfolio
{
	margin-left: 0;
}

#content_wrapper
{
	width: 960px;
	margin: auto;
	padding-bottom: 0;
}

body.home #content_wrapper
{
	padding-top: 30px;
}

#content_shadow_bottom
{
	height: 48px;
}

#content_wrapper .inner
{
	width: 100%;
	margin: auto;
}

.wrapper_shadow
{
	width: 960px;
	height: 51px;
	margin:auto;
	position: relative;
	left: -20px;
	background: transparent url('../images/wrapper_shadow.png') no-repeat;
}

.slider_border
{
	width: 960px;
	height: 350px;
	margin:auto;
	background: #fff;
	padding: 10px 0 0 0;
	margin-top:15px;
}

.page_caption
{
	margin: auto;
	width: 100%;
	height: 70px;
	background: #f9f9f9;
	padding: 9px 0 0 0;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 12px;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	-moz-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
}

.page_caption p
{
	display: block;
	float: left;
	margin: 13px 0 0 0;
}

#content_wrapper .inner .inner_wrapper
{
	width: 100%;
	margin: auto;
	padding: 0 0 0 0;
}

#content_wrapper .inner .inner_wrapper.portfolio
{
	padding: 10px 0 0 0;
	position: relative;
	left: -10px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content
{
	width: 650px;
	float: left;
	padding: 0;
	margin-top: 15px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content .post
{
	margin-bottom: 40px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.portfolio_r
{
	width: 650px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content img
{
	max-width: 650px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.left_blog_content
{
	margin-left: 10px;
	margin-top: -5px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.mini
{
	width: 490px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.mini.second_one
{
	width: 490px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.left_sidebar
{
	margin-left: 0px;
	float: right;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.left_sidebar img
{
	max-width: 650px;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper
{
	width: 300px;
	float: right;
	margin-top: 15px;
}

body.page-template-portfolio-3r-php #content_wrapper .inner .inner_wrapper .sidebar_content, body.page-template-portfolio-3l-php #content_wrapper .inner .inner_wrapper .sidebar_content
{
	margin-top: 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar
{
	width: 100%;
	float: right;
	padding-left: 15px;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar_bottom {
	width: 100%;
	height: 50px;
	padding-left: 15px;
	float: right;
	display: none;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper.left_sidebar
{
	float: left;
	margin: 0;
	margin-top: 15px;
	padding-left: 0;
	border-left: 0;
	width: 300px;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar.left_sidebar
{
	width: 100%;
	float: left;
	min-height: 150px;
	padding-right: 25px;
	padding-left: 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar_bottom.left_sidebar
{
	padding-right: 25px;
	padding-left: 0;
	float: left;
	display: none;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar.left_sidebar .sidebar_widget > li
{
	padding-left: 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar .content
{
	width: 100%;
	margin: 0 10px 0 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper.left_sidebar .sidebar .content
{
	width: 100%;
	margin: 0;
}

#content_wrapper .sidebar .content .posts.blog, .posts.blog
{
	list-style: none;
	margin-left: 0;
	margin-top: 0;
}

.posts.blog li
{
	margin-bottom: 45px;
}

#content_wrapper .sidebar .content .posts.blog li, #content_wrapper .posts.blog li
{
	padding-top: 10px;
	line-height: 1.5em;
	clear: both;
	border:0;
	background: none;
	padding-left: 0;
	padding-bottom: 15px;
	color: #999;
}

#content_wrapper .sidebar .content .posts.blog li:last-child, #content_wrapper .posts.blog li:last-child, #footer .sidebar_widget li ul.posts.blog li:last-child
{
	margin-bottom: 0;
}

.sidebar_widget
{
	width: 100%;
}

.sidebar_widget li ul
{
	list-style: none;
}

.sidebar_widget li
{
	padding-bottom: 10px;
	margin: 0;
	margin-bottom: 5px;
	padding: 15px 20px 10px 20px;
}

.sidebar_widget li:first-child
{
	padding-top: 0;
}

.sidebar_widget li.widget.widget_search
{
	background: transparent;
	border: 0;
	float: left;
	width: 100%;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios
{
	padding-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios ul li, #content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios ul li .portfolio_desc
{
	border-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios .flex-control-nav li
{
	border-bottom: 0;
	padding: 0;
}

.sidebar_widget li.widget.widget_search form#searchform
{
	margin-bottom: 35px;
}

.sidebar_widget li.Custom_Facebook_Page
{
	padding-bottom: 20px;
	background-color: white;
}

.sidebar_widget li.Custom_Flickr
{
	padding-bottom: 15px;
}

.sidebar_widget li ul li
{
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

#footer .sidebar_widget li ul.flickr li:first-child
{
	padding-top: 0;
}

#footer .sidebar_widget li ul.flickr li
{
	border-bottom: 0;
}

#content_wrapper .sidebar .content .posts.blog li img, #content_wrapper .posts.blog li img, #footer .posts.blog li img
{
	float: left;
	margin: 0 10px 2px 0;
 	width: 60px;
 	padding: 3px;
}

#content_wrapper .sidebar .content .sidebar_widget, .sidebar_widget
{
	list-style: none;
	margin-left: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul
{
	margin: 0 0 0 0;
	list-style:none;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li ul.sub-menu
{
	margin-left: 10px;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li
{
	margin: 0 0 0 0;
	padding: 0 0 3px 20px;
	background: url('../images/arrow-ul.png') no-repeat center left;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios ul li
{
	padding-left: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li:last-child
{
	border-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li:first-child
{
	padding-top: 10px;
	background-position:0px 1.3em;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.twitter, #footer .sidebar_widget li ul.twitter, ul.twitter
{
	margin: 0;
	margin: 15px 0 0 0;
	list-style:none;
	background: #f4f4f4;
	padding: 0 0 3px 0;
	width: 100%;
}

.testimonial_wrapper
{
	background: #f4f4f4 url("../images/quote_bg.png") no-repeat 0px 5px;
	padding: 10px 10px 10px 49px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin-top: 15px;
}

#footer .twitter_username, #footer .testimonial_name
{
	color: #fff;
}

#footer .testimonial_wrapper
{
	margin-top: 20px;
	background: #1F2224 url("../images/quote_bg.png") no-repeat 0px 5px;
}

#footer .sidebar_widget li ul.twitter, ul.twitter
{
	margin-top: 15px;
	float: none;
	background: #1F2224;
}

#footer .sidebar_widget li ul.twitter li:last-child
{
	border-bottom: 0;
	padding-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.twitter li, #footer .sidebar_widget li ul.twitter li, ul.twitter li
{
	padding: 5px 10px 5px 10px;
	background: none;
}

.twitter_arrow, .testimonial_arrow
{
	width: 18px;
	height: 10px;
	margin-left: 5px;
	margin-top: -1px;
}

.twitter_username, .testimonial_name
{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:first-child, #footer .sidebar_widget li ul.twitter li:first-child, ul.twitter li:first-child
{
	padding-top: 10px;
	background-position:0px 1.3em;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.social_media, #footer .sidebar_widget li ul.social_media
{
	list-style: none;
	margin: 5px 0 15px -9px;
	float: left;
	display: block;
	clear: both;
}

#footer .sidebar_widget li ul.social_media
{
	margin: 5px 0 15px 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.social_media li
{
	display: block;
	float: left;
	margin: 0;
}

#footer .sidebar_widget li ul.social_media li
{
	margin: 0 5px 0 0;
	display: block;
	float: left;
}

#content_wrapper ul.posts.blog
{
	list-style: none;
	margin: 7px 0 0 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li
{
	margin: 0 0 8px 0;
}

#content_wrapper .sidebar .content .sidebar_widget li .widgettitle, h2.widgettitle, #footer ul li.widget .widgettitle
{
	font-size: 15px;
	font-weight: normal;
	display: block;
	margin: 0 0 2px 0;
	letter-spacing: 0;
	color: #111;
	padding-bottom: 7px;
}

#footer h2.widgettitle span
{
	background: transparent;	
}

.one_third h2.widgettitle
{
	font-size: 16px;
}

.widget_tag_cloud div
{
	margin: 15px 0 10px 0;	
}

.widget_tag_cloud div a, .meta-tags a
{
	display: inline-block;
	color: #999;
	font-size: 12px;
	line-height: 1.5em;
	margin: 0 0 4px 0;
	padding: 6px 10px 6px 10px;
	background: #F4F4F4;
}

.widget_tag_cloud div a:hover, .meta-tags a:hover, #footer .widget_tag_cloud div a:hover, #footer .meta-tags a:hover
{
	background: #9ACA42;
	color: #fff;
}

#footer .widget_tag_cloud div a, #footer .meta-tags a
{
	background: #1F2224;
}

.post_wrapper
{
	width: 640px;
	margin: 0;
	float: left;
	margin-bottom: 50px;
}

.post_wrapper.fullwidth
{
	width: 960px;
	margin-top: 15px;
}

.post_wrapper.one_half
{
	width: 470px;
	margin-bottom: 40px;
	margin-top: 10px;
}

.post_wrapper.one_half.ppb_blog
{
	width: 460px;
	overflow: hidden;
	margin-top: 0;
}

.post_wrapper.one_half.last
{
	width: 470px;
}

.post_wrapper.one_third
{
	width: 305px;
	margin-bottom: 40px;
	margin-right: 22px;
}

.post_wrapper.one_third.last
{
	margin-right: 0;
	width: 305px;
}

.post_wrapper_left
{
	float: left;
	width: 200px;
	margin: 0 30px 0 0;
}

.post_wrapper_left_full
{
	float: left;
	width: 300px;
	margin: 0 30px 0 0;
}

.post_wrapper_right
{
	float: right;
	width: 350px;
}

.post_wrapper_right_full
{
	float: right;
	width: 600px;
}

.post_social
{
	margin-top: 20px;
}

iframe.twitter-count-none
{
	margin-right: 14px;
}

.post_social.portfolio
{
	float: left;
	padding-bottom: 20px;
}

.blog_thumb
{
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	width: 150px;
	height: 120px;
}

.blog_thumb_overlay
{
	width:150px;
	height:150px;
	position: relative;
	margin-top: -155px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow: hidden;
}

.blog_thumb_overlay .overlay_icon_circle
{
	position: relative;
	top: 37%;
	left: -40%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	text-align: center;
}

.blog_thumb_overlay .overlay_icon_circle img
{
	width: 20px;
	margin-top: 10px;
}

.post_header_wrapper
{
	margin-top: 0;
}

.post_header_wrapper.thumb
{
	width: 380px;
	float: left;
}

.post_header
{
	width: 560px;
	float: left;
	margin: 0;
}

.post_header.full
{
	width: 870px;
}

.post_header h3
{
	text-transform: none;
	margin-top: 5px;
}

.post_header.thumb h3
{
	font-size: 20px;
	margin: 0;
}

.post_header h3
{
	font-size: 20px;
	letter-spacing: 0;
}

.post_header.half h5, .post_header.half h6
{
	font-size: 18px;
	text-transform: none;
}

.post_header h3 a, .post_header.half h5 a, .post_header.half h6 a
{
	margin-top: 0;
	margin-bottom: 0px;
	letter-spacing: -1px;
	font-family: Arial,Tahoma,Verdana,sans-serif;
}

.post_header .post_detail, .recent_post_detail, .post_detail
{
	width: 100%;
	padding: 0;
	font-size: 10px;
	float: left;
	margin: 0 0 15px 0;
	color: #999;
	text-transform: uppercase;
	font-family: Arial,Tahoma,Verdana,sans-serif;
}

.member_position
{
	color: #999;
}

.member_img
{
	margin-bottom: 5px;
}

.post_detail_item
{
	display: inline-block;
	margin: 5px 5px 0 0;
}

.post_img img.frame
{
	position: relative;
	top: 15px;
}

.post_img_wrapper
{
	width: 650px;
	height: 250px;
}

.post_img_overlay
{
	width:650px;
	height:250px;
	position: relative;
	margin-top: -255px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow: hidden;
}

.post_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 37%;
	left: -46%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	text-align: center;
}

.post_img_overlay .overlay_icon_circle img
{
	width: 30px;
	margin-top: 15px;
}

.post_full_img_wrapper
{
	width: 960px;
	height: 300px;
}

.post_full_img_overlay
{
	width:960px;
	height:300px;
	position: relative;
	margin-top: -305px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow: hidden;
}

.post_full_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 37%;
	left: -48%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	text-align: center;
}

.post_full_img_overlay .overlay_icon_circle img
{
	width: 30px;
	margin-top: 15px;
}

.post_half_img_wrapper
{
	width: 470px;
	height: 250px;
}

.one_third .one .post_half_img_wrapper, .one_third .one .post_half_img_wrapper img, .one_fourth .one .post_half_img_wrapper, .one_fourth .one .post_half_img_wrapper img
{
	width: 100%;
	height: auto;
}

.one_third .one .post_half_img_wrapper .post_half_img_overlay, .one_fourth .one .post_half_img_wrapper .post_half_img_overlay
{
	visibility: hidden;
}

.post_half_img_overlay
{
	width:470px;
	height:250px;
	position: relative;
	margin-top: -255px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow: hidden;
}

.post_half_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 37%;
	left: -48%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	text-align: center;
}

.post_half_img_overlay .overlay_icon_circle img
{
	width: 30px;
	margin-top: 15px;
}

.post_third_img_wrapper
{
	width: 305px;
	height: 180px;
}

.ppb_blog .post_third_img_wrapper, .ppb_blog .post_third_img_wrapper .post_third_img_overlay
{
	width: 100%;
	overflow: hidden;
}

.post_third_img_overlay
{
	width:305px;
	height:180px;
	position: relative;
	margin-top: -185px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow: hidden;
}

.post_third_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 34%;
	left: -48%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	text-align: center;
}

.post_third_img_overlay .overlay_icon_circle img
{
	width: 30px;
	margin-top: 15px;
}

.post_excerpt
{
	width: 560px;
	float: left;
}

.post_excerpt.full
{
	width: 850px;
}

.post_excerpt.thumb
{
	width: 380px;
	float: left;
}

.post_excerpt.half
{
	width: 100%;
}

.post_excerpt p:first-child, .sidebar_content p:first-child
{
	margin: 0;
}

.post_header .post_comment
{
	float: right;
	margin: 10px 0 0 0;
	font-size: 11px;
	padding: 5px 15px 5px 15px;
	text-align: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #ebebeb;
 	-webkit-box-shadow: 0 1px 3px #ebebeb;
 	box-shadow: 0px 1px 3px #ebebeb;
 	background: #cccccc url("../images/bt_g.png") repeat-x top;
	text-align: left;
	border: 1px solid #ebebeb;
}

.post_header.half
{
	width: 100%;
}

.comment .left img.avatar
{
	width: 55px;
}

.comment
{
	width: 650px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: -25px;
	float: left;
}

.comment .left
{
	width: 60px;
	float: left;
	margin-top: 15px;
}

.comment_arrow
{
	background: transparent url("../images/comment_arrow.png") no-repeat;
	width: 14px;
	height: 10px;
	float: left;
	position: relative;
	left: 5px;
	margin-top: 20px;
	display: none;
}

.comment .right
{
	width: 86%;
	float: left;
	padding: 20px 15px 20px 15px;
	background: #fff;
	border-bottom: 1px solid #E5E5E5;
	margin-top: -2px;
}

ul.children div.comment .right
{
	width: 73%;
}

.comment .right p
{
	margin: 0;
	padding: 0;
}

#content_wrapper ul.children
{
	list-style: none;
	margin: -40px 0 0px 74px;
	padding: 5px 20px 2px 0;
	float: left;
	width: 106%;
}

#content_wrapper ul.children ul.children
{
	margin-top: -10px;
	padding-bottom: 0;
	width: 83.5%;
}

.comment_wrapper
{
	float: left;
	margin-left: 25px;
}

.comment_date
{
	font-family: 'Open Sans', "PT Sans", Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #999;
	font-size: 11px;
	float: right;
	margin-top: 3px;
}

ul.children .comment
{
	width: 100%;
	margin: 0;
	padding: 20px 0 10px 0;
	float: left;
	margin-left: -23px;
}

ul.children ul.children .comment
{
	margin-left: -22px;
}

ul.children .comment:last-child
{
	padding-top: 0;
	padding-bottom: 15px;
}

ul.children .comment:first-child
{
	padding-top: 10px;
}

.cufon.space
{
	margin-bottom: 15px;
}

.one_third
{
	width: 31.33%;
	float: left;
	margin-right: 2%;
}

.one_third.last
{
	margin-right: 0;
	width: 33.33%;
}

#portfolio_filter_wrapper.three_columns > div
{
	width: 30%;
	float: left;
	margin-right: 2.5%;
}

.two_third
{
	float: left;
	width: 64.66%;
	margin-right: 2%;
}

.two_third.last
{
	margin-right: 0;
	width: 66.66%;
}

.two_third.portfolio1
{
	height: 290px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.two_third.portfolio1 img.frame
{
	position: relative;
	top: 20px;
}

.one_half
{
	float: left;
	width: 48%;
	margin-right: 2%;
}

.one_half.last
{
	width: 50%;
	margin-right: 0;
}

#portfolio_filter_wrapper.two_columns > div
{
	width: 47%;
	float: left;
	margin-right: 2.5%;
}

.one_half .portfolio_image
{
	width: 100%;
	height: 330px;
	overflow: hidden;
}

.portfolio_image img
{
	width: 183px;
}

.one_half .portfolio_image img.frame
{
	position: relative;
	top: 21px;
}

.img_shadow_360
{
	float: left;
	background: transparent url('../images/img_shadow_360.png') no-repeat 22px bottom;
}

.one_third .portfolio_image
{
	width: 100%;
	height: 218px;
	overflow: hidden;
}

.one_third .portfolio_image img.frame
{
	position: relative;
	top: 20px;
}

.img_shadow_220
{
	float: left;
	background: transparent url('../images/img_shadow_220.png') no-repeat 18px bottom;
}

.one_third .portfolio_desc h2
{
	font-size: 20px;
}

.portfolio_desc
{
	color: #ccc;
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
	padding: 12px 9px 15px 9px;
	border: 1px solid #E5E5E5;
	border-top: 0;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	-moz-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	font-size: 11px;
	text-align: center;
}

.portfolio_desc h5, .portfolio_desc h6
{
	color: #333;
}

.portfolio_desc:hover, .portfolio_desc.hover
{
		
}

.portfolio_desc:hover h6, .portfolio_desc.hover h6, .portfolio_desc:hover h5, .portfolio_desc.hover h5, .portfolio_desc:hover h4, .portfolio_desc.hover h4, .portfolio_desc:hover h3, .portfolio_desc.hover h3, .portfolio_desc:hover h2, .portf1795olio_desc.hover h2
{
	
}

.portfolio_desc h6 a, .posts.blog h6 a, .portfolio_desc h5 a, .posts.blog h5 a, .portfolio_desc h6, .portfolio_desc h5
{
	text-transform: none;
	font-family: Arial,Tahoma,Verdana,sans-serif;
}

.portfolio_desc_200
{
	width: 200px;
	margin-bottom: 25px;
}

.portfolio_desc_642
{
	width:920px;
}

.portfolio_desc_460
{
	width:450px;
	margin-bottom: 25px;
}

.portfolio_desc_195
{
	width: 175px;
	margin-bottom: 25px;
	font-size: 11px;
}

#content_wrapper .sidebar .content .sidebar_widget li .portfolio_desc h6 a, #content_wrapper .sidebar .content .sidebar_widget li .posts.blog h6 a
{
	padding: 0;
	color: #000;
	background: transparent;
	width: auto;
	font-size: 13px;
	position: relative;
	margin: 0;
	font-weight: bold;
	letter-spacing: 0;
}

.posts.blog h6
{
	margin: 10px 0 10px 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.thumb, #footer .sidebar_widget li ul.thumb
{
	list-style: none;
	display: block;
	float: none;
	width: 100%;
	margin-left: 0;
	margin-top: 15px;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.thumb li, #content_wrapper .sidebar .content .sidebar_widget li ul.thumb li:first-child, #footer .sidebar_widget li ul.thumb li:first-child, #footer .sidebar_widget li ul.thumb li
{
	margin: 0 7px 1px 0;
	float: left;
	clear: none;
	padding: 0;
	background: none;
	border-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.thumb li img, #footer .sidebar_widget li ul.thumb li img
{
	width: 79px;
}

#footer .sidebar_widget li ul.thumb li img
{
	width: 57px;
}

.one_fourth
{
	width: 23%;
	float: left;
	margin-right: 2%;
}

.one_fourth.last
{
	margin-right: 0;
	width: 25%;
}

.one_fourth.gallery
{
	margin-bottom: 3%;
}

#portfolio_filter_wrapper > div
{
	width: 22%;
	float: left;
	margin-right: 2.5%;
}

.one_fourth.css_shadow
{
	margin: bottom: 0;
}

.one_fourth.clear
{
	clear: both;
}

.one_fourth .portfolio_image
{
	width: 100%;
	height: 155px;
	overflow: hidden;
}

.one_fourth .portfolio_image img.frame
{
	position: relative;
	top: 10px;
}

.img_shadow_160
{
	float: left;
	background: transparent url('../images/img_shadow_160.png') no-repeat 15px bottom;
}

.one_fifth
{
	width: 15%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_fifth.last
{
	margin-right: 0;
}

.one_sixth
{
	width: 11%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_sixth.last
{
	margin-right: 0;
}

.one_sixth_img
{
	width: 162px;
	height: 235px;
	overflow: hidden;
	float: left;
	display:block;
	border: 10px solid #fff;
	background:#fff;
}

.one_third_img
{
	width: 250px;
	height: 160px;
	overflow: hidden;
	float: left;
	display:block;
	border: 8px solid #fff;
 	background:#fff;
 	-moz-box-shadow: 0 1px 3px #ccc;
 	-webkit-box-shadow: 0 1px 3px #ccc;
 	box-shadow: 0px 1px 3px #ccc;
}

.one_fourth_img, .one_fourth_detail_img
{
	width: 265px;
	height: 230px;
	overflow: hidden;
	float: left;
	display:block;
}

.one_fourth_normal
{
	width: 190px;
	height: 120px;
	overflow: hidden;
	float: left;
	display:block;
	border: 8px solid #fff;
 	background:#fff;
 	-moz-box-shadow: 0 1px 3px #ccc;
 	-webkit-box-shadow: 0 1px 3px #ccc;
 	box-shadow: 0px 1px 3px #ccc;
}

.one_sixth_img:hover, .one_third_img:hover, .one_fourth_img:hover, , .one_fourth_detail_img:hover img:hover
{
	overflow: visible;
}

.one_sixth_img:hover img
{
	position:absolute;
	margin-left: -75px;
	margin-top: -65px;
	z-index: 999;
	-moz-box-shadow: 0 2px 20px #ccc;
 	-webkit-box-shadow: 0 2px 20px #ccc;
 	box-shadow: 0px 2px 20px #ccc;
 	border: 10px solid #fff;
}

.one_fourth_img:hover img
{
	position:absolute;
	margin-left: -60px;
	margin-top: -60px;
	z-index: 999;
	-moz-box-shadow: 0 2px 20px #555;
 	-webkit-box-shadow: 0 2px 20px #555;
 	box-shadow: 0px 2px 20px #555;
}

.one_fourth_detail_img:hover img
{
	display:none;
}

.one_fourth_detail_div
{
	display:none;
	width:260px;
	height:260px;
	padding: 20px;
	background: #f9f9f9 url('../images/body_bg.gif') repeat;
	position:absolute;
	margin-left: -40px;
	margin-top: -40px;
	z-index: 999;
	-moz-box-shadow: 0 2px 20px #ccc;
 	-webkit-box-shadow: 0 2px 20px #ccc;
 	box-shadow: 0px 2px 20px #ccc;
 	color: #666;
}

.one_fourth_detail_img:hover .one_fourth_detail_div
{
	display: block;
}

.portfolio4_hover
{
	width: 180px;
	height: 133px;
	text-align: center;
	display: block;
	position: relative;
	top: -133px;
	left: 6px;
	z-index: 999;
	background: transparent;
  	cursor: pointer;
}

.portfolio4_hover img
{
	width: 60px;
	margin: 25px 0 0 0;
}

.blog_grid_desc
{
	padding: 15px 0 15px 5px;
}

#searchform label
{
	display:none;
}

#searchform
{
	margin: 0;
}

#searchform input[type=text]
{
	width: 90%;
	margin: 0 0 5px 0;
}

#searchform input[type=submit]
{
	display: none;
}

.portfolio_image
{
	display: block;
}

.related_posts
{
	padding-bottom: 5px;
	padding-top: 5px;
	float: left;
	width: 100%;
}

table
{
	border: 1px solid #ebebeb;
}

#footer table
{
	border: 0;
}

#content_wrapper table thead tr th
{
	text-shadow: 0 0 0 #fff;
}

table tr
{
	background: #ffffff;
}

#footer table tr
{
	background: #1F2224;
}

table tr td, table tr th
{
	border-bottom: 1px solid #ebebeb;
}

#footer table tr td, #footer table tr th
{
	border: 0;
}

table tfoot tr td
{
	border-bottom: 0;
}

table tr th
{
	font-weight: bold;
	background: #f0f0f0;
	text-align: left;
}

#footer table tr th
{
	background: #F16F07;
	text-align: center;
	color: #fff;
}

table tr th, table tr td
{
	padding: 7px 15px 7px 15px;
}

#wp-calendar tr th, #wp-calendar tr td
{
	padding: 3px 7px 3px 7px;
}

#wp-calendar caption
{
	display:none;
}

#wp-calendar
{
	margin: 20px 0 20px 0;
}

.pagination {
	margin: 20px 0 20px 0;
	float: right;
}

.pagination p a:first-child {
	float: left;
}

.pagination p a:last-child {
	float: right;
}

.pagination a, .pagination span
{
	padding-left: 12px;
	padding-right: 12px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	text-align: center;
	color: #777;
	background: #EBEBEB;
}

.pagination span, .pagination a:hover
{
	background: #9ACA42;
	color: #fff;
}

.pp_list ul
{
	margin-top: 15px;
}

.pp_list ul li
{
	margin: 5px 0 0 0;
	padding-left: 22px;
	padding-bottom: 5px;
}

.accordion
{
 	border: 1px solid #ebebeb;
 	-moz-box-shadow: 0 1px 3px #ebebeb;
 	-webkit-box-shadow: 0 1px 3px #ebebeb;
 	box-shadow: 0px 1px 3px #ebebeb;
}

.accordion h3, .accordion div
{
	border: 0;
	background: transparent;
}

.pp_accordion, .pp_accordion_close
{
 	margin:0;
	margin-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;
	-webkit-box-shadow: 0 4px 0px 0px rgba(150, 150, 150, 0.05);
	-moz-box-shadow: 0 4px 0px 0px rgba(150, 150, 150, 0.05);
	box-shadow: 0 4px 0px 0px rgba(150, 150, 150, 0.05);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
	border: 1px solid #ebebeb;
}

.ui-corner-all, .ui-corner-top, .ui-corner-bottom
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ui-state-default, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content
{
	border: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
	background: transparent;
}

.ui-accordion .ui-accordion-header
{
	font-weight: normal;
	display: block;
	position: relative;
	font-family: Arial,Tahoma,Verdana,sans-serif;
}

.pp_accordion
{
	
}

.accordion div
{
	border-top: 1px solid #ebebeb;	
}

.accordion h3
{
	padding: 5px 0 5px 8px;
}

.ui-accordion .ui-accordion-header .ui-icon
{
	left: 10px;
}

.ui-tabs-panel
{
	margin-top: 10px;
}

.ui-widget-header
{
	border-bottom: 1px solid #ebebeb;
}

.tabs .ui-state-default
{
	background: transparent;
	border: 0;
	color: #333;
}

.tabs .ui-state-default a
{
	color: #999;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
	border: 1px solid #ebebeb;
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 3px solid #9ACA42;
	top: 1px;
}

.ui-tabs .ui-tabs-nav li
{
	background: #F9F9F9;
	margin: 0;
	border: 1px solid #ebebeb;
	padding-top: 2px;
	top: 3px;
}

.ui-tabs .ui-tabs-nav li a 
{
	padding: 8px 30px 7px 30px;
	font-size: 12px;
}

.tabs .ui-state-active
{
	font-weight: bold;
	background: #fff;
	text-shadow: 0 1px 1px #fff;
	display: block;	
}

#content_wrapper .tabs .ui-widget-header
{
	border: 0;
	margin-left: 0;
}

.tabs .ui-tabs-panel
{
	border: 1px solid #ebebeb;
	margin:0;
	padding-top: 0em;
	background: #fff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	-moz-box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
	box-shadow: 4px 4px 0px 0px rgba(150, 150, 150, 0.05);
}

.tabs .ui-state-active a
{
	color: #333;
	font-weight: bold;
}

.ui-tabs li:first-child
{
	margin-left: -3px;
}

.pricing_box
{
	float: left;
	text-align: center;
	padding: 0 0 10px 0;
	border: 1px solid #ebebeb;
	margin-top: 2%;
}

.pricing_box .header
{
	border-bottom: 1px solid #ebebeb;
	margin: 0 0 20px 0;
	font-weight: bold;
}

.pricing_box .header
{
	width: 100%;
	height: 42px;
	text-align: center;
}

.pricing_box .header span
{
	position: relative;
	top: 10px;
	padding-bottom: 7px;
	font-size: 14px;
}

.pricing_box.large .header span
{
	top: 15px;
	font-size: 14px;
}

.pricing_box h2
{
	font-size: 44px;
	padding-top: 5px;
}

#content_wrapper .pricing_box ul
{
	list-style-image: url("../images/icon_check.png");
	margin: 10px 10% 25px 20%;
	text-align: left;
}

#content_wrapper .pricing_box ul
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 35px;
	width: 80%;
	list-style: none;
}

#content_wrapper .pricing_box ul li
{
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0 10px 0;
	text-align: center;
}

.pricing_box.large
{
	margin-top: -0.5%;
	padding-bottom: 30px;
	background: #f9f9f9;
	border: 1px solid #2C2F32;
}

.pricing_box.large .header
{
	height: 51px;
	background: #2C2F32;
	color: #fff;
}

.pricing_box.three
{
	width: 32.5%;
}

.pricing_box.four
{
	width: 24.5%;
	font-size: 1em;
}

.pricing_box.four h2
{
	font-size: 3em;
}

.pricing_box.five
{
	width: 19.5%;
	font-size: 0.9em;
}

.pricing_box.five h2
{
	font-size: 1.9em;
}

.pricing_box.five.large
{
	margin-top: -2.5%;
}

.pricing_box.five .header span
{
	font-size: 1.3em;
	top: 11px;
}

.pricing_box.five.large .header span
{
	font-size: 1.5em;
	top: 13px;
}

.one_third .service_thumb
{
	width: 50px;
	margin: 0 20px 0 0;
	float: left;
}

.one_third .service_thumb img
{
	width: 50px;
}

.one_third .service_box
{
	width: 180px;
	float: left;
}

.one_third .service_box p
{
	margin-top: 15px;
}

#footer ul
{
	display: block;
	width: 900px;
	margin: auto;
	list-style: none;
	padding: 10px 0 30px 0;
	text-align: left;
	font-weight: normal;
}

#footer textarea
{
	height: 100px;
}

#footer h6
{
	font-size: 13px;
	font-weight: bold;
}

#footer ul li.widget
{
	float: left;
	width: 22%;
	margin-right:4%;
	margin-bottom: 0px;
	border: 0;
	background: transparent;
	padding: 0;
}

#footer ul li.widget.last
{
	margin-right: 15px;
	width: 20%;
	float:right;
}

#footer ul.three li.widget
{
	float: left;
	width: 31%;
	margin-right:3%;
}

#footer ul.three li.widget.last
{
	float: right;
	width: 31%;
	margin-right: 0;
}

#footer ul.two li.widget
{
	float: left;
	width: 48%;
	margin-right:4%;
}

#footer ul.two li.widget.last
{
	float: right;
	width: 48%;
	margin-right: 0;
}

#footer ul.one li.widget
{
	float: left;
	width: 100%;
	margin-right:0;
}

#footer ul li.widget .widgettitle
{
	border-bottom: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
}

#footer ul li.widget .widgettitle span
{
	padding-right: 10px;
}

#footer ul li.widget ul
{
	width: 100%;
	float: left;
	padding-top: 15px;
}

div.textwidget
{
	padding-top: 0;
	margin-top: 10px;
}

#footer ul li.widget ul li
{
	padding: 10px 0 10px 0;
	margin: 0;
	background: transparent;
	border-bottom: 1px solid #111;
	border-top: 1px solid #444;
}

#footer ul li.widget ul li:first-child
{
	padding-top: 0;
	border-top: 0;
}

#footer ul li.widget ul li:last-child
{
	border-bottom: 0;
}

#footer .posts.blog li img
{
	float: left;
	margin: 0 10px 2px 0;
 	width: 45px;
 	border: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.flickr, ul.flickr
{
	list-style: none;
	margin: 15px 0 0 0;
	float: left;
	display: block;
	clear: both;
	width: 110%;
}

ul.flickr li
{
	float: left;
	margin: 0 5px 5px 0;
}

#footer .sidebar_widget li ul.flickr
{
	list-style: none;
	margin: 0 0 30px 0;
	float: left;
	display: block;
	clear: both;
	width: 110%;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.flickr li, #content_wrapper .sidebar .content .sidebar_widget li ul.flickr li a, ul.flickr li a
{
	display: block;
	float: left;
	margin: 0;
	background-image: none;
	border: 0;
	margin-right: 6px;
	margin-bottom: 3px;
	padding-left:0;
	padding-top: 0;
}

#footer .sidebar_widget li ul.flickr li, #footer .sidebar_widget li ul.flickr li a, #footer .sidebar_widget li ul.flickr li:first-child
{
	display: block;
	float: left;
	margin: 0 5px 3px 0;
	border:0;
	padding: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.flickr li img, ul.flickr li img
{
	width: 75px;
	position: relative;
}

#footer .sidebar_widget li ul.flickr li img
{
	width: 57px;
	border: 0;
	padding:0;
}

.slider_wrapper_bg
{
	width: 960px;
	height: 480px;
	background: url('../images/slider_shadow.png') bottom center no-repeat;
	border-right: 0;
	border-left: 0;
	margin: auto;
}

#slider_wrapper
{
	width: 960px;
	height: 430px;
	margin: auto;
	overflow: visible;
	text-align: center;
	position: relative;
	z-index: 9;
	margin-top: 30px;
	font-size: 14px;
}

#slider_wrapper.cute
{
	margin-top: 30px;
}

body.single-portfolios #slider_wrapper
{
	height: 480px;
	margin-top: 10px;
}

.br-captions p
{
	padding: 0;
	padding-top: 5px;
	margin: 0;
}

.br-captions .caption_bg
{
	background: rgba(0,0,0,.7);
	padding: 12px 15px 12px 15px;
    position:absolute;
    top: 270px;
    max-width: 300px;
    color: #ccc;
    text-align: left;
    font-size: 14px;
}

.br-captions .caption_bg h4
{
	color: #fff;
	margin-bottom: 0;
}

.styled_box_title
{
	display: inline-block;
	outline: none;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	color: #fff;
	border: solid 1px #cccccc;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eeeeee));
	background: -moz-linear-gradient(top,  #f8f8f8,  #eeeeee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee');
	text-shadow: 0 0 0 transparent;
	font-weight: bold;
	width: 90%;
}

.styled_box_content
{
	background: #fff;
	color: #999;
	padding: 10px 10px 10px 10px;
	line-height: 1.3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border: solid 1px #cccccc;
	border-top: 0;
	width: 90%;
}

.breadcrumbs
{
	width: 100%;
	font-size: 11px;
	border-bottom: 1px solid #ebebeb;
	margin-top: -10px;
}

.breadcrumbs .inner
{
	width: 895px;
	margin: auto;
	padding: 10px 0 10px 0;
}

.small_author
{
	font-size: 14px;
	color: #ccc;
}

.portfolio3_shadow
{
	width:216px;
	height:160px;
	background: transparent url('../images/portfolio3_shadow.png') no-repeat;
	margin-top:-12px;
}

.portfolio3_shadow img
{
	margin-top: 12px;
	border:0;
}

.portfolio195_shadow
{
	width:195px;
	height:130px;
}

.portfolio195_overlay
{
	width:195px;
	height:130px;
	position: relative;
	margin-top: -135px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow: hidden;
}

.portfolio195_overlay .overlay_icon_circle
{
	position: relative;
	top: 34%;
	left: -40%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	text-align: center;
}

.portfolio195_overlay .overlay_icon_circle img
{
	width: 20px;
	margin-top: 10px;
}

.portfolio195_overlay .overlay_icon_circle img
{
	width: 20px;
	margin-top: 10px;
}

.portfolio200_shadow
{
	width:220px;
	height:160px;
	margin-top:0;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
}

.portfolio200_overlay
{
	width:220px;
	height:160px;
	position: relative;
	margin-top: -165px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow: hidden;
}

.portfolio200_overlay .overlay_icon_circle
{
	position: relative;
	top: 38%;
	left: -40%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	text-align: center;
}

.portfolio200_overlay .overlay_icon_circle img
{
	width: 20px;
	margin-top: 10px;
}

.portfolio200_overlay img.grid_icon
{
	position: absolute;
	top: 76%;
	left: 6%;
}

.portfolio200_overlay .grid_content
{
	position: absolute;
	top: 8%;
	left: 6%;
	color: #ebebeb;
	font-size: 12px;
	font-style: italic;
	text-align: left;
}

.portfolio200_overlay .grid_content h5
{
	color: #fff;
	font-style: normal;
}

.portfolio200_shadow img
{
	margin-top: 0;
}

.portfolio305_shadow
{
	width: 305px;
	height: 220px;
	margin-top:0;
	overflow: hidden;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
}

.portfolio305_overlay
{
	width:305px;
	height:220px;
	position: relative;
	margin-top: -225px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
}

.portfolio305_overlay .overlay_icon_circle
{
	position: relative;
	top: 37%;
	left: -41%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	text-align: center;
}

.portfolio305_overlay img
{
	width: 30px;
	margin-top: 15px;
}

.portfolio305_overlay img.grid_icon
{
	position: absolute;
	top: 72%;
	left: 6%;
}

.portfolio305_overlay .grid_content
{
	position: absolute;
	top: 8%;
	left: 6%;
	color: #ebebeb;
	font-size: 13px;
	font-style: italic;
	text-align: left;
}

.portfolio305_overlay .grid_content h3
{
	color: #fff;
	font-style: normal;
}

.portfolio_desc_305
{
	width: 285px;
	margin-bottom: 25px;
}

.portfolio460_shadow
{
	width:470px;
	height:300px;
	margin-top:0;
	overflow: hidden;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
}

.portfolio460_overlay
{
	width:470px;
	height:300px;
	position: relative;
	margin-top: -305px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	overflow-x: hidden;
}

.portfolio460_overlay .overlay_icon_circle
{
	position: relative;
	top: 39%;
	left: -42%;
	background: #9ACA42;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	text-align: center;
}

.portfolio460_overlay img
{
	width: 30px;
	margin-top: 15px;
}

.portfolio460_overlay img.grid_icon
{
	position: absolute;
	top: 78%;
	left: 6%;
}

.portfolio460_overlay .grid_content
{
	position: absolute;
	top: 8%;
	left: 6%;
	color: #ebebeb;
	font-size: 13px;
	font-style: italic;
	text-align: left;
}

.portfolio460_overlay .grid_content h3
{
	color: #fff;
	font-style: normal;
}

.portfolio460_shadow img
{

}

.portfolio642_shadow
{
	width:920px;
	height:424px;
	margin-top:0;
	text-align: center;
	overflow: hidden;
}

.portfolio642_shadow img
{
	margin-top: 0;
	border: 0;
}

.portfolio642_overlay
{
	width:920px;
	height:400px;
	position: relative;
	margin-top: -406px;
	opacity: 0;
	filter: alpha(opacity = 0);
	background: #272625 url('../images/portfolio_overlay_pattern.png') repeat;
}

.portfolio642_overlay img
{
	position: relative;
	top: 46%;
	left: -100%;
}

.portfolio480_shadow
{
	width:480px;
	height:322px;
	margin-top:0;
}

.portfolio480_shadow img
{
	margin-top: 0;
	border: 0;
}

.portfolio480_overlay
{
	width:480px;
	height:306px;
	position: relative;
	margin-top: -311px;
	opacity: 0;
	filter: alpha(opacity = 0);
	background: #272625 url('../images/portfolio_overlay_pattern.png') repeat;
}

.portfolio480_overlay img
{
	position: relative;
	top: 47%;
	left: 48%;
}

.portfolio220_shadow
{
	width:220px;
	height:143px;
	margin-top:0;
}

.portfolio220_overlay
{
	width:220px;
	height:143px;
	position: relative;
	margin-top: -149px;
	opacity: 0;
	filter: alpha(opacity = 0);
	background: #272625 url('../images/portfolio_overlay_pattern.png') repeat;
}

.portfolio220_overlay img
{
	position: relative;
	top: 43%;
	left: 46%;
}

.portfolio220_shadow img
{
	margin-top: 0;
	border: 0;
}

.home_portfolio
{
	width:100%;
	background: transparent;
	text-align: center;
	float: left;
}

.home_portfolio.three_fourth
{
	width: 74%;
	float: right;
}

.home_portfolio h5
{
	margin-top: 5px;
	font-size: 22px;
	text-align: left;
	width: 100%;
}

.portfolio_desc p
{
	padding: 0;
	margin: 0;
}

.portfolio_grid4
{
	margin-bottom: 25px;
}

.portfolio_grid3
{
	margin-bottom: 20px;
}

.portfolio_grid2
{
	margin-bottom: 25px;
}

.home_portfolio img.frame
{
	padding: 4px;
	background: #ebebeb;
	-moz-box-shadow: 0 0 0 #000;
 	-webkit-box-shadow: 0 0 0 #000;
 	box-shadow: 0px 0 0 #000;
 	border: 0;
 	position:relative;
 	border: 1px solid #ccc;
}

.home_portfolio .below_shadow
{
	height: 150px;
	background: transparent url("../images/portfolio_shadow.png") no-repeat 20px 132px;
}

.standard_wrapper
{
	width: 100%;
	margin: auto;
}

.portfolio-content
{
	margin-top: 15px;
}

.standard_wrapper.fullwidth
{
	margin-top: 15px;
}

.top_shadow, #content_wrapper.top_shadow
{
	background: transparent url("../images/top_shadow.png") repeat-x top;
	height: 50px;
}

.bottom_shadow, #content_wrapper.bottom_shadow
{
	background: transparent url("../images/bottom_shadow.png") repeat-x top;
	height: 50px;
}

#content_wrapper.top_shadow
{
	padding-bottom: 0;
}

#content_wrapper.top_shadow .inner_wrapper
{
	padding-top: 20px;
}

.portfolio_image
{
	position: relative;
}

.highlight_yellow
{
	background: #FF9;
}

.highlight_black
{
	background: #000;
	color: #fff;
}

.quote_text
{
	font-size: 22px;
	font-style: italic;
	font-family: Georgia, Times, serif;
	color: #959595;
	font-weight: normal;
}

.tipsy { padding: 5px; font-size: 11px; background-repeat: no-repeat; background-image: url(../images/tipsy.gif); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }

.portfolio_title
{
	display: block;
}

.post_info
{
	font-family: Georgia, Times, serif;
	font-style: italic;
	word-spacing: 2px;
	color: #B1B1B1;
}

.img_fade
{
	opacity: .5;
}

.img_fade.left
{
	opacity: .5;
	float:left;
}

.img_nofade
{
	
}

.tipsy
{
	display:block;
	float: left;
}

.slide_video_wrapper
{
	width: 900px;
	height: 340;
	-webkit-box-shadow: 3px 0 20px #000;
	-moz-box-shadow: 3px 0 20px #000;
	box-shadow: 3px 0 20px #000;
	margin: auto;
	margin-top: 10px;
}

#map_contact
{
	width: 100%;
	height: 350px;
	margin: auto;
}

.nivo_border
{
	background: #000;
}
.ui-accordion .ui-accordion-header a
{
	font-size: 14px;
	text-transform: none;
	letter-spacing: 0;
	margin: 5px 0 5px 10px;
}

.ui-accordion .ui-accordion-content
{
	padding-left: 25px;
	margin-left: 6px;
}

.ui-state-default .ui-icon
{
	background: transparent url('../images/icon_plus.png') no-repeat;
}

.ui-state-active .ui-icon
{
	background: transparent url('../images/icon_minus.png') no-repeat;
}

.ui-accordion .ui-accordion-header .ui-icon
{
	left: 0;
}

body.home .sidebar_content .one_fourth_normal img, body.home .sidebar_content .one_fourth_normal
{
	width: 130px;
	height: 80px;
}

body.home .sidebar_content .one_third_img img, body.home .sidebar_content .one_third_img
{
	width: 180px;
	height: 110px;
}

#content_wrapper ul.filter
{
	list-style: none;
	display: block;
	margin: 11px 0 20px 0;
	padding: 0;
	float: left;
	width: 100%;
}

.portfolio_sub_header
{
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
	float: left;
	margin-top: 8px;
}

.filter li
{
	margin: 0 0 0 0;
	padding-right: 10px;
	float: left;
	font-size: 12px;
}

.filter li:first-child
{
	margin: 0;
	border-right: 0;
}

.filter li a
{
	padding: 8px 5px 8px 5px;
}

.filter li .separator
{
	color: #ccc;
}

.filter li:last-child .separator
{
	display: none;
}

.filter li a.active
{
	color: #9aca42;
}

.gallery-caption
{
	font-weight:bold;
}

strong.line
{
	border-bottom: 1px solid #ebebeb;
	display: block;
	padding: 0 0 10px 0;
	margin: 0;
}

#galleria_slide .galleria-container
{
	margin: auto;
}

.galleria-container
{
	background: #fff;
	border: 1px solid #E1E1E1;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.post_info_wrapper
{
	width: 90px;
	margin-right: 5px;
	float: left;
}

.post_date
{
	width: 70px;
	margin-right: 20px;
	float:left;
	color: #333;
	text-transform: uppercase;
	padding: 0;
	font-family: 'Oswald', "PT Sans", Arial, Helvetica, sans-serif;
}

.post_date.thumb
{
	margin-top: 0;
}

.post_date .month
{
	width: 100%;
	font-size: 20px;
	text-align: center;
	margin-top: -10px;
}

.post_date .year
{
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: #666;
	margin-top: -5px;
}

.post_date .date
{
	width: 100%;
	font-size: 46px;
	text-align: center;
	letter-spacing: -2px;
}

.post_date_comment
{
	width: 60px;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-top: 5px;
	background: #fff;
	color: #999;
	padding: 10px 5px 10px 5px;
}

.middle
{
	vertical-align: -5%;
	margin-right: 5px;
}

.map_shadow
{
	width: 960px;
	height: 400px;
	margin-bottom: 20px;
	background: url('../images/slider_shadow.png') bottom center no-repeat;
}

.map_shortcode_wrapper
{
	
}

.tagline_wrapper
{
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
}

.tagline
{
	float: left;
	width: 100%;
	padding: 18px 0 18px 0;
	margin-top: 0;
	background: #f9f9f9;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#ffffff));
	background: -moz-linear-gradient(top, #ffffff, #f9f9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9');
	color: #999;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(150, 150, 150, 0.05);
	-moz-box-shadow: 0px 4px 0px 0px rgba(150, 150, 150, 0.05);
	box-shadow: 0px 4px 0px 0px rgba(150, 150, 150, 0.05);
}

.tagline h2
{
	font-size: 26px;
	font-weight: 500;
}

.caption_inner
{
	width: 960px;
	text-align: left;
	margin: auto;
	margin-top: 13px;
}

.caption_header, .caption_header a
{
	color: #111;
}

.caption_header h1
{
	font-size: 24px;
	color: #111;
	float: left;
	margin-right: 15px;
}

.page_description
{
	float: left;
	color: #ccc;
	font-size: 16px;
	font-family: Arial,Tahoma,Verdana,sans-serif !important;
	font-weight: 100;
	margin-top: 8px;
}

h6.portfolio_header
{
	font-size: 14px;
	text-transform: none;
	font-style: normal;
}

#commentform
{
	margin-top: 25px;
}

#option_btn
{
	position: fixed;
	top: 165px;
	left: 0;
	cursor:pointer;
	z-index: 999999;
}

#option_wrapper
{
	position: fixed;
	top: 145px;
	left:-245px;
	width: 240px;
	padding: 19px 0 23px 0;
	background: #fff;
	z-index: 9999999;
	color: #666;
	border: 1px solid #E1E1E1;
	-moz-box-shadow: 0 4px 25px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 4px 25px rgba(0,0,0,0.3);
	box-shadow: 0 4px 25px rgba(0,0,0,0.3);
}

#option_wrapper a
{
	font-weight: bold;
}

#option_wrapper .inner
{
	width: 80%;
	margin:auto;
}

a.skin_box
{
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	margin: 5px 5px 0 0;
}

.colorpicker_preview
{
	width: 100%;
	height: 30px;
	margin: 5px 0 0 0;
}

#option_wrapper select
{
	width: 195px;
}

.option_menu_style
{
	width: 100%;
	float: left;
}

.option_menu
{
	float: left;
	width: 96px;
	margin-bottom: 5px;
}

.option_menu img
{
	width: 90px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

#preview
{
	position:absolute;
	top: 107px;
	left: 114px;
	display:none;
	z-index: 999999;
	padding: 5px 5px 2px 5px;
	background: #272625;
}

#preview img
{
	z-index: 9999999;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.one_third.skin
{
	text-align: center;
	margin-top: 30px;
}

.skin_img img
{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

#menu_border_wrapper select { 
  	display: none;
  	text-overflow: ellipsis;
  	white-space: nowrap; 
}

#widget_contact_form
{
	margin-top: 15px;
}

/* 
Recaptcha Style Captcha 
=======================
 re-Captcha Style Captcha with php and jQuery 
 
 Created By: Zeeshan Rasool 
 URL : http://www.99Points.info 
 
 Get JQuery, PHP, AJAX, Codeigniter and MYSQL Tutorials and Demos on Blog
 */
 
#captcha-wrap{
	border:solid #870500 1px;
	width:270px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#870500;
	text-align:left;
	padding:3px;
	margin-top:3px;
	height:107px;
}
#captcha-wrap .captcha-box{
	-webkit-border-radius: 7px;
	background:#fff;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align:center;
	border:solid #fff 1px;
}
#captcha-wrap .text-box{
	-webkit-border-radius: 7px;
	background:#ffdc73;
	-moz-border-radius: 7px;
	width:140px;
	height:43px;
	float:left;
	margin:4px;
	border-radius: 7px;
	text-align:center;
	border:solid #ffdc73 1px;
}

#captcha-wrap .text-box input{ 
	width:120px; 
	-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
float: none;
margin-top: -2px;
}
#captcha-wrap .text-box label{
	 color:#000000;
	 font-family: helvetica,sans-serif;
	 font-size:11px;	
	 width:140px;
	 padding-top:3px; 
	 padding-bottom:3px; 
	 margin: 0;
	 font-weight: normal;
}
#captcha-wrap .captcha-action{
	float:right; width:117px; 
	background:url(../images/logos.jpg) top right no-repeat; 
	height:44px; margin-top:3px;
}
#captcha-wrap  img#captcha-refresh{
	margin-top:9px;
	border:solid #333333 1px;
	margin-right:6px;
	cursor:pointer;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.portfolio_single_img
{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 960px;
}

.porftolio_widget_wrapper
{
	margin-top: 15px;
}

#portfolio_filter_wrapper
{
	width: 1000px;
}

.page-template-portfolio-2-filter-php #portfolio_filter_wrapper { width: 990px; }
.page-template-portfolio-4-filter-php #portfolio_filter_wrapper { width: 995px; }

.ipad_frame
{
	width: 482px;
	height: 360px;
	background: transparent url("../images/ipad_frame.png") no-repeat;
}

.ipad_frame iframe
{
	margin-top: 36px;
}

.ipad_frame object
{
	margin: 35px 0 0 50px;
}

.shadow
{
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}

.ls-playvideo
{
	width: 32px;
	height: 32px;
	background: url(../images/icon_play.png) no-repeat;
}

.ls-nav-prev
{
	opacity: 0; width: 36px; height: 36px; margin: -13px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;
	left: 40px; background: transparent url("../images/arrow_prev.png") no-repeat;
}

.ls-nav-next
{
	opacity: 0; width: 36px; height: 36px; margin: -13px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;
	right: 40px; background: transparent url("../images/arrow_next.png") no-repeat;
}

a.classic
{
	float: right;
}

.ajax_portfolio_wrapper
{
	padding-bottom: 5px;
	display: none;
}

.ajax_content
{
	margin-top: 30px;
}

.ajax_close, .ajax_close:active, .ajax_next, .ajax_next:active, .ajax_prev, .ajax_prev:active, .portfolio_single_navi a, .portfolio_single_navi a:active
{
	padding: 3px 8px 3px 8px;
	width: 10px;
	color: #777777;
	background: #EBEBEB;
	display: block;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-bottom: 20px;
	right: -5px;
	margin-left: 3px;
}

.ajax_close, .ajax_close:hover, .ajax_close:active, .ajax_next:hover, .ajax_prev:hover, .portfolio_single_navi a:hover
{
	color: #fff;
	background: #9ACA42;
}

.ajax_portfolio_wrapper #slider_wrapper
{
	margin-top: 0;
}

.portfolio_single_title 
{
	float: left;
}

.embed-container
{
	width: 900px;
	height: 506px;
}

.embed-container iframe
{
	width: 100%;
	height: 100%;
}

.slide_content_wrapper
{
	width:1020px; 
	height: 100%; 
	left: 50%; 
	margin-left: -510px;
}

.slide_content_wrapper > *
{
	position: absolute;
	left: 0px;
	top: 0px;
}

h5.service
{
	color: #fff;
	background: #000;
	top: -70px;
	display: inline-block;
	position: relative;
	padding: 3px 10px 3px 10px;
	text-transform: uppercase;
	font-size: 16px;
}

.service_content
{
	position: relative;
	top: -25px;
}

.sermon_content_each
{
	display: none;
}

.sermon_content_each.video
{
	display: block;
}

.portfolio2_wrapper
{
	width: 100%;
}

body.single-portfolios #slider_wrapper
{
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
}

.post_widget_date
{
	font-family: 'Open Sans', "PT Sans", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 11px;
}

.service_wrapper
{
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

.ppb_title
{
	margin: 0 10px 30px 0;
	float: left;
}

.ppb_desc
{
	margin: 9px 10px 20px 0;
	float: left;
	font-style: italic;
}

.ui-tabs
{
	top: -6px;
}

.ppb_serivce_wrapper
{
	margin-bottom: 3%;
	overflow: hidden;
}

.one_third { 
	/*width: 304px; margin-bottom: 4%; */
	margin-top: 10px;
}
.wp-polls-ul{
	margin: 0px 0px 0px 2px !important;
}
#polls-1{
	margin-top: 25px !important;
}

#polls-1-ans input[type="button"]{
	margin-right: 15px;
}

#polls-1-loading{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -40px;
}

#votar_2{
	margin-left: 15px;
}

#enquete{
	position: relative;
}

.wp-polls-ul li{
	margin-bottom: 5px;
}

.ppb_title h4{
	color: #ce283b;
}
