@charset "utf-8";
/* CSS Document */
	#paginas * {
		margin:0px;
		padding:0px;
	}
	#paginador {
		font-size:10px;
		font-family:"Trebuchet MS";
		color:#0000000;
		width:100%;
		float:none;
		clear:both;
	}
	#paginador .pg {
		background-image:url(../images/pagename_1.gif);
		width:100px;
		float:left;
		text-align:center;
		height:20px;
	}
	#paginador .pg a {
		
		width:50px;
		height:20px;
		padding-top:5px;
		text-align:center;
		font-weight:bold;
	}

	#paginador a {
		color:#000000;
		text-decoration:none;
	}

	#paginador a:hover {
		color:#FF0000;
	}