/* CSS Document */
	#paginador {
		font-size:10px;
		font-family:"Trebuchet MS";
		color:#0000000;
		width:100%;
	}
	#paginador #pg {
		background-image:url(../images/icones/pagename_1.gif);
		width:100px;
		height:15px;
		padding-top:5px;
		text-align:center;
		float:left;
	}
	#paginador a {
		color:#000000;
	}
	#paginador a:hover {
		color:#FF0000;
	}
body {
	margin: 0px;

	font-family: "Segoe UI", "Trebuchet MS";
	font-size: 12px;
	font-style: normal;
	color: #000000;
}
img {
	border: none;
}
a {
	color:#666666;
	text-decoration:none;
}
a:hover {
	color:#333333;
}

.btn {
	font-family: "Segoe UI", "Trebuchet MS";
	font-size: 12px;
	color: #000000;
	background-image: url(../images/details/btn.jpg);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 106px;
	height: 18px;
}
.text {
	font-family: "Segoe UI", "Trebuchet MS";
	font-size: 12px;
	color: #000000;
	height: 16px;
	border: 1px solid #949694;
}
.textarea {
	font-family: "Segoe UI", "Trebuchet MS";
	font-size: 12px;
	color: #000000;
	border: 1px solid #949694;
}
.samesize1 {
	width: 250px;
}
.size1 {
	height:64px;
}
.border1 {
	border: 1px dotted #FFFFFF;
}
.one {
	background-color:#CEE7FF;
}
.two th {
	background-color:#FFFFFF;
	border-bottom:1px dotted #CCCCCC;
}