@charset "utf-8";
/* CSS Document */
	body {
	font-family: "Segoe UI", Tahoma;
	font-size:12px;
	border:none;
	margin:0px;
	padding:0px;
	color: #666;
}

	body, html {
		margin: 0px;	
		width: 100%;
		height:100%;
	}
	body {
		text-align:center;	
	}
	div#container {
		text-align: left;
		padding-top: 0;
		position: relative;
		border-top: none;
		clear: both;
		margin-top: 0;
		margin-left: auto;
		width: 1000px;
		margin-right: auto;
	}
	div#arealogo {
		float:left;
		height:50px;
	}
	div#arealogin {
		float:right;
		height:35px;
		padding-top:15px;
	}
	div#top {
		background-color:#D5F3CF;
		height:100px;
		padding: 10px;
		float:none;
		color:#000;
	}
	
	div#mmenu {
		width: 100%;
		text-align:center;
		padding-top:6px;
		padding-bottom:6px;
		background-color:#D8D8D8;
	}
	div#mmenu a {
		color: #000;
		font-size:14px;
		text-decoration:none;
		font-weight:bold;
		background-color:#D8D8D8;
		padding: 0;
	}
	div#mmenu a:hover {
		color:#FFF;
		background-color:#666;
	}
	
	div#menu {
		width: 150px;
		float:left;
		margin-right:10px;
		margin-top:10px;
		height: 600px;
	}
	 div#menu ul, li{
		list-style:none;
		margin:0px;
		padding:0px;
	}
	div#menu li{
		margin-bottom:3px;
		background-image:url(../images/bkgmenu.png);
		height:20px;
		width:150px;
	}
	div#menu li:hover{
		background-image:url(../image/bkgmenu_hover.png);
	}
	div#menu a{
		text-decoration:none;
		color: #666;
		font-size:12px;
	}
	div#menu a:hover{
		text-decoration:underline;
	}	
	div#corpo {
		float:left;
		width:840px;
		margin-top:10px;
	}
	div.titlearea {
		width:828px;
		text-align:left;
		float:none;
		font-weight:bold;
		font-size:16px;
		margin-bottom: 20px;
	}
	div.subtitlearea {
		width: 317px;
		text-align:center;
		font-weight:bold;
		font-size:14px;
		margin-bottom: 10px;
		padding:5px;
		border:1px solid #CCC;
	}
	
	div.subpanel_l {
		float:left;
		width:337px;
		margin-right:5px;		
	}
	
	div.infoarea {
		font-size: 14px;
		padding-bottom: 5px;
		padding: 5px;
		background-color:#E9E9E9;
		color:#333;
	}
	
	
	div.submenuarea {
		text-align:center;
		border-bottom: 1px dashed #CCC;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	div.submenuarea a {
		color:#666;
		font-size:14px;
		font-weight:bold;
		text-decoration:none;
	}
	div.submenuarea a:hover {
		color:#333;
		text-decoration:underline;
	}
	
	.tabletitle {
		border-bottom:1px solid #CCC;
	}
	.tabletitle h1 {
		color: #900;
		font-size:16px;
	}
	.tableline {
		border-bottom:1px dotted #CCC;
		padding-right:20px;
		padding-bottom:10px;
		padding-top:10px;
		margin-bottom:10px;
	}
	.tableline a {
		color: #006;
		font-size:14px;
		font-weight:bold;
		text-decoration:none;
	}
	.tableline a:hover {
		color: #009;
		text-decoration:underline;
	}
	
	
	
	input.text {
		width: 300px;
	}
	
	input.text_titulo {
		width: 800px;
		font-size:20px;
	}
	
	
	h1 {
		font-size: 18px;
		font-weight:bold;
		margin-bottom:3px;
		padding:0px;
		margin-top:0px;
		margin-bottom:20px;
	}
	
	h4 {
		font-size:16px;
		font-weight:bold;
		margin:0px;
		padding:0px;	
	}
